body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://thumbs.dreamstime.com/b/analog-stopwatch-black-background-analog-stopwatch-closeup-black-background-116258773.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.stopwatch {
    text-align: center;
     padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-right: 70%;
    margin-top: 10%;
}

.display {
    font-size: 2em;
    margin: 20px 0;
}

.buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 20px;
}

@media(max-width:425px) {
    body {
        justify-content: center;
        background-size: cover;
        background-position: center;
    }

    .stopwatch {
        width: 90%;
        margin: 5% auto;
        padding: 15px;
    }

    .display {
        margin: 15px 0;
    }

    .buttons button {
        margin: 5px;
        padding: 8px 12px;
        border-radius: 15px;
    }
}

@media(min-width:425px) and (max-width:768px) {
    body {
        background-size: cover;
        background-position: center;
    }

    .stopwatch {
        width: 50%;
        margin: 5% auto;
        padding: 20px;
    }

    .display {
        margin: 20px 0;
    }

    .buttons button {
        margin: 5px;
        padding: 10px 15px;
        border-radius: 18px;
    }
}